*{
    margin: 0;
    padding:0;
}

body{
    background-color:#efefef;
}

.LoginContainer{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.form{
    display: flex;
    flex-direction: column;
     width: 70%;
     margin: auto;

}

.form input{
    margin-bottom: 5px;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(156, 151, 151);

}

.form button{
    width: 30%;
    padding: 10px;
    color:white;
    background-color: black;
    align-self: center;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.form button:hover{
    background-color: rgb(31, 30, 30);
    border-radius: 5px;
}

.form div{
    align-self: center;
}

.form div a{
    text-decoration: none;
    color: #797171;
}
   
.form div p{
   margin:5px 0;
   text-align: center;
}



/* homeContainer */

.homeContainer{
    width: 80%;
    margin:auto;
    margin-top: 40px;
}